html {
	font-size: 20px;
}

body {
	background-color:#edceeb;
	font-family: Arial;
	margin: 0;
}

#sideNav {
	height: 100%;
	width: 275px;
	background: #7a274e;
	color: white;
	padding-top: 20px;
	padding-left: 20px;
}

#sideNav a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	margin-left: 30px;
}

.access_aid {
	display: none;
}

.logo-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-area {
	flex-basis: 65%; /* the space between the logo and nav bar */
	display: flex;
}

.nav {
	border-radius: 30px;
	background-color: #182f5c;
}

/* nav links */
.nav a {
	float: left;
	padding: 22px;
	color: white;
	text-decoration: none; /* to get rid of underline in link */
	font-size: 17px;
}

.nav a:hover {
	background-color: #8aa3d4;
}

/* Mobile styling */
@media only screen and (max-width: 600px) 
{
	.logo-area {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.logo {
		text-align: center;
		width: 350px;
	}

	.nav {
		position: fixed;
		bottom: 0;
		padding: 10px;
		z-index: 2;
	}

	.nav a {
		padding: 5px;
	}

	.main {
		text-align: center;
	}

	.mobile-header {
		font-size: 25px;
		text-align: left;
	}

	#sideNav {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 40%;
		background: #7a274e;
		color: white;
		border-radius: 0 0 5px 5px;
		box-shadow: 0 0 8px 2px #000;
		font-size: 17px;
		height: auto;
		padding-left: 10px;
		padding-top: 12px;
	}

	#sideNav a {
		color: white;
		text-decoration: none;
		font-size: 12px;
		margin-left: 0px;
	}

	#sideNav:target {
		display: block;
	}

	.access_aid {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 0;
		padding-top: 40px;
		overflow: hidden;
		border: 1px solid #ccc;
		background: white 10px 10px / 20px 20px no-repeat;
	}

	#access_nav {
		background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
		}

	#access_top {
		background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
		}

	#iframe {
		width: 100%;
		height: 100%;
	}

} /* End of mobile styling */

img {
	max-width: 100%;
}


.searchbar {
	position: relative;
}

.searchbar-inner {
	position: absolute;
    display: flex;
    top: 92px;
    left: 20px;
}

/* Mobile styling */
/* Maxwidth = up to */
@media only screen and (max-width: 600px) {
	.searchbar-inner {
		position: unset;
	}
}


.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

.sideNav {
	height: 100%;
	width: 275px;
	z-index: 1;
	background-color: #7a274e;
	overflow-x: hidden;
	padding-top: 20px;
	padding-left: 20px;
	color: white;
	font-size: 15px;
	list-style-type: none;
}

.main {
	margin-left: 20px;
}

.sideNav a {
	color: white;
	text-decoration: none;
}

h1 {
	border-bottom: 3px solid #182f5c;
	font-family: fantasy;
}

.films {
	column-gap: 10px;
}

.films img {
	width: 165px;
	height: 250px;
	cursor: pointer;
}

#lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

#lightbox img {
	max-width: 90%;
	max-height: 80%;
	padding: 4px;
	background-color: black;
	border-bottom: 2px solid white;
}

footer {
	background-color: #182f5c;
	color: white; /* text color */
	text-align: left;
	margin-top:15px;
	padding:10px;
	display: flex; /* aligning the class to a section in the footer */
	flex-wrap: wrap;
	justify-content: space-around;
}

.row
{
	display: flex;
}

.row label
{
	width: 35%;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin:  0px;

}

#iframe {
	width: 560px;
	height: 315px;
}

