body {
	background-color:white;
	font-family: Arial;
}

header {
	
}

figure {
	text-align: center;
}

/* Style the navigation menu */
nav {
	border-radius: 30px;
	background-color: #182f5c;
	width: 100%;
	overflow: auto;
}

/* Nav links */

nav a {
	float: left;
	padding: 22px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width: 17.6%; /* make equal width links */
	text-align: center; /* to center text */
}

nav a:hover {
	background-color: #8aa3d4;
}

footer {
	text-align: center;
	background-color:white;
	margin-top:15px;
	padding:10px;
}

h1 {
	text-align:center;
	color:white;
}

main {
	
	margin-top:20px;
	padding:15px;
}